automation/n8n/AI3_QA_Scan.workflow.json
{
  "name": "AI3_QA_Scan",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "sample-input",
      "name": "Sample QA Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    meta: {\n      workflow_name: 'AI3_QA_Scan',\n      timestamp: new Date().toISOString(),\n      trigger_source: 'manual_test',\n      risk_level: 'low'\n    },\n    context: {\n      canonical_links: [\n        '[[Home]]',\n        '[[04-Tasks/Workflow-Queue|Workflow Queue]]'\n      ],\n      constraints: [\n        'Do not approve launch automatically'\n      ]\n    },\n    payload: {\n      task_id: 'TASK-123',\n      plan_link: '[[Tasks/Reminder-SMS-TFV-Implementation-Plan-v2|Reminder SMS TFV Implementation Plan v2]]',\n      acceptance_criteria: [\n        'Consent copy is explicit',\n        'Backend stores consent state',\n        'No regression in booking flow'\n      ],\n      implementation_summary: [\n        'frontend consent checkbox added',\n        'backend consent flag stored',\n        'copy updated'\n      ],\n      changed_areas: [\n        'app/signup/',\n        'backend/index.js'\n      ],\n      hotfix: false\n    }\n  }\n}];"
      }
    },
    {
      "id": "call-backend",
      "name": "Call AI3 QA Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.VURIUM_API_BASE_URL || 'http://localhost:8080') + '/api/vurium-dev/ai/qa-scan' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.VURIUM_ADMIN_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "validate-output",
      "name": "Validate QA Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0]?.json || {};\nconst required = ['agent', 'workflow', 'task_id', 'status', 'result', 'findings', 'follow_up_items', 'escalate_to', 'reason'];\nfor (const key of required) {\n  if (!(key in item)) {\n    throw new Error(`Missing required key: ${key}`);\n  }\n}\nconst allowedStatus = new Set(['done', 'partial', 'blocked', 'needs_review', 'queued']);\nif (!allowedStatus.has(item.status)) {\n  throw new Error(`Invalid status: ${item.status}`);\n}\nconst allowedResult = new Set(['pass', 'fail', 'needs_review']);\nif (!allowedResult.has(item.result)) {\n  throw new Error(`Invalid result: ${item.result}`);\n}\nconst allowedEscalation = new Set(['none', 'AI-1', 'AI-2', 'AI-3', 'AI-5', 'AI-6', 'AI-7', 'AI-8', 'AI-9', 'AI-10', 'AI-11', 'Owner']);\nif (!allowedEscalation.has(item.escalate_to)) {\n  throw new Error(`Invalid escalate_to: ${item.escalate_to}`);\n}\nitem.execution_action = item.result === 'pass' && item.escalate_to === 'none' ? 'write_qa_scan_and_move_queue' : 'create_follow_up_or_escalation';\nreturn [{ json: item }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample QA Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample QA Input": {
      "main": [
        [
          {
            "node": "Call AI3 QA Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI3 QA Scan": {
      "main": [
        [
          {
            "node": "Validate QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
