automation/n8n/AI3_Planning_Intake.workflow.json
{
  "name": "AI3_Planning_Intake",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Planning Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ai3-planning-intake",
      "parameters": {
        "httpMethod": "POST",
        "path": "ai3-planning-intake",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "normalize-input",
      "name": "Normalize Planning Queue Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "jsCode": "const raw = items[0]?.json || {};\nconst event = raw.body && typeof raw.body === 'object' && !Array.isArray(raw.body) ? raw.body : raw;\nconst payload = event.payload && typeof event.payload === 'object' && !Array.isArray(event.payload) ? event.payload : event;\nconst queueStage = event.current_stage || event.queue_stage || event.stage || payload.current_stage || payload.queue_stage || payload.stage || '';\nif (queueStage !== 'Ready for Planning') {\n  throw new Error(`AI3 planning intake accepts only the 'Ready for Planning' queue stage. Received: ${queueStage || 'missing'}`);\n}\nconst taskId = payload.task_id || payload.id || event.task_id || event.id;\nconst title = payload.title || event.title;\nconst description = payload.description || event.description;\nif (!taskId) throw new Error('Missing task_id');\nif (!title) throw new Error('Missing title');\nif (!description) throw new Error('Missing description');\nreturn [{\n  json: {\n    meta: {\n      workflow_name: 'AI3_Planning_Intake',\n      timestamp: new Date().toISOString(),\n      trigger_source: event.trigger_source || raw.trigger_source || 'queue_status_webhook',\n      risk_level: event.risk_level || raw.risk_level || 'medium'\n    },\n    context: {\n      canonical_links: [\n        event.queue_link || '[[04-Tasks/Workflow-Queue|Workflow Queue]]',\n        ...(Array.isArray(payload.product_context_links) ? payload.product_context_links : [])\n      ],\n      constraints: [\n        'Do not invent compliance truth',\n        ...(Array.isArray(event.constraints) ? event.constraints : [])\n      ]\n    },\n    payload: {\n      task_id: taskId,\n      title,\n      description,\n      requested_by: payload.requested_by || event.requested_by || 'Owner',\n      complexity: payload.complexity || event.complexity || 'non-trivial',\n      external_dependency: Boolean(payload.external_dependency ?? event.external_dependency ?? false),\n      product_context_links: Array.isArray(payload.product_context_links) ? payload.product_context_links : [],\n      known_constraints: Array.isArray(payload.known_constraints) ? payload.known_constraints : [],\n      priority: payload.priority || event.priority || 'medium'\n    }\n  }\n}];"
      }
    },
    {
      "id": "call-backend",
      "name": "Call AI3 Planning Intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.VURIUM_API_BASE_URL || 'http://localhost:8080') + '/api/vurium-dev/ai/planning-intake' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.VURIUM_ADMIN_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "validate-output",
      "name": "Validate Planning Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0]?.json || {};\nconst required = ['agent', 'workflow', 'task_id', 'status', 'escalate_to', 'reason', 'plan_skeleton'];\nfor (const key of required) {\n  if (!(key in item)) {\n    throw new Error(`Missing required key: ${key}`);\n  }\n}\nconst allowedStatus = new Set(['done', 'partial', 'blocked', 'needs_review', 'queued']);\nif (!allowedStatus.has(item.status)) {\n  throw new Error(`Invalid status: ${item.status}`);\n}\nconst allowedEscalation = new Set(['none', 'AI-1', 'AI-2', 'AI-3', 'AI-5', 'AI-6', 'AI-7', 'AI-8', 'AI-9', 'AI-10', 'AI-11', 'Owner']);\nif (!allowedEscalation.has(item.escalate_to)) {\n  throw new Error(`Invalid escalate_to: ${item.escalate_to}`);\n}\nitem.execution_action = item.escalate_to !== 'none' ? 'create_handoff_or_escalation' : 'write_plan_shell_and_queue_update';\nitem.queue_stage = 'Ready for Planning';\nreturn [{ json: item }];"
      }
    }
  ],
  "connections": {
    "Planning Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Planning Queue Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Planning Queue Event": {
      "main": [
        [
          {
            "node": "Call AI3 Planning Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI3 Planning Intake": {
      "main": [
        [
          {
            "node": "Validate Planning Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
