automation/n8n/Owner_Notification.workflow.json
{
  "name": "Owner_Notification",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Owner Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "owner-notification",
      "parameters": {
        "httpMethod": "POST",
        "path": "owner-notification",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "normalize-input",
      "name": "Normalize Owner Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "jsCode": "const raw = items[0]?.json || {};\nconst payload = raw.payload && typeof raw.payload === 'object' && !Array.isArray(raw.payload) ? raw.payload : raw;\nconst workflowSource = payload.workflow_source || payload.workflowSource || raw.workflow_source || raw.workflowSource;\nconst subject = payload.subject || raw.subject;\nconst summary = payload.summary || raw.summary;\nif (!workflowSource) throw new Error('Missing workflow_source / workflowSource');\nif (!subject) throw new Error('Missing subject');\nif (!summary) throw new Error('Missing summary');\nreturn [{\n  json: {\n    meta: {\n      workflow_name: 'Owner_Notification',\n      timestamp: new Date().toISOString(),\n      trigger_source: raw.trigger_source || 'owner_notification_webhook',\n      risk_level: raw.risk_level || 'high'\n    },\n    context: {\n      canonical_links: [\n        '[[08-Runbooks/System/Escalation-Matrix|Escalation Matrix]]'\n      ],\n      constraints: [\n        'Owner notifications should be reserved for true gated or high-risk events'\n      ]\n    },\n    payload: {\n      workflow_source: String(workflowSource),\n      severity: String(payload.severity || raw.severity || 'high'),\n      subject: String(subject),\n      summary: String(summary),\n      details: Array.isArray(payload.details) ? payload.details.map(String) : Array.isArray(raw.details) ? raw.details.map(String) : [],\n      next_step: String(payload.next_step || payload.nextStep || raw.next_step || raw.nextStep || ''),\n      links: Array.isArray(payload.links) ? payload.links.map(String) : Array.isArray(raw.links) ? raw.links.map(String) : [],\n      recipient: String(payload.recipient || raw.recipient || $env.VURIUM_OWNER_EMAIL || '')\n    }\n  }\n}];"
      }
    },
    {
      "id": "call-backend",
      "name": "Call Owner Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.VURIUM_API_BASE_URL || 'http://localhost:8080') + '/api/vurium-dev/automation/owner-notify' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.VURIUM_ADMIN_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "validate-output",
      "name": "Validate Owner Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0]?.json || {};\nconst required = ['agent', 'workflow', 'status', 'channel', 'workflow_source', 'severity', 'recipient', 'subject', 'reason', 'next_step'];\nfor (const key of required) {\n  if (!(key in item)) throw new Error(`Missing required key: ${key}`);\n}\nconst allowedStatus = new Set(['done', 'partial', 'blocked', 'needs_review', 'queued']);\nif (!allowedStatus.has(item.status)) throw new Error(`Invalid status: ${item.status}`);\nconst allowedSeverity = new Set(['low', 'medium', 'high', 'critical']);\nif (!allowedSeverity.has(item.severity)) throw new Error(`Invalid severity: ${item.severity}`);\nitem.execution_summary = item.status === 'done'\n  ? `Owner notification sent to ${item.recipient}`\n  : `Owner notification requires manual follow-up: ${item.reason}`;\nreturn [{ json: item }];"
      }
    }
  ],
  "connections": {
    "Owner Notification Webhook": {
      "main": [
        [
          {
            "node": "Normalize Owner Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Owner Notification": {
      "main": [
        [
          {
            "node": "Call Owner Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Owner Notify": {
      "main": [
        [
          {
            "node": "Validate Owner Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
